<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>metaBerto</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <style>
    body {
      margin: 0;
      padding: 0;
      color: #fff;
      text-align: center;
      background: url(<%= asset_path 'Galaxy.gif' %>) no-repeat center center fixed;
      background-size: cover;
      background-attachment: fixed;
    }

    .logo-header {
        width: 200px;
        height: auto;
        margin: auto;
        display: block;
    }

    .logo-container {
        position: absolute; /* Posizione assoluta rispetto al body */
        left: 200px; /* Distanza dal lato sinistro dello schermo */
        top: 600px; /* Distanza dal lato superiore dello schermo */
    }

    .logo-body {
        width: 200px;
        height: auto;
        margin-bottom: 10px; /* Distanza tra il logo e la scritta "B&Berto" */
    }

    .title {
        font-size: 2em;
        margin: 0;
        display: block; /* Modifica da inline-block a block */
    }
  </style>
</head>
<body>
  <div class="logo-container">
    <%= link_to image_tag('Logo.png', alt: "Logo B&Berto", class: "logo-body"), "bberto.html" %>
    <span class="title">B&Berto</span>
  </div>
  <%= image_tag 'Metaberto.png', alt: "Logo MetaBerto", class: "logo-header" %>
  <h1>MetaBerto</h1>
  <h2>ver 0.1.0</h2>
  <h3>Dove vuoi andare oggi?</h3>
</body>
</html>
