<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>metaBerto</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <style>
    body {
      margin: 0;
      padding: 0;
      color: #fff;
      text-align: center;
      background: url(<%= asset_path 'Home2.png' %>) no-repeat center center fixed;
      background-size: cover;
      background-attachment: fixed;
    }

    .logo-header {
        width: 200px; /* Dimensione del logo principale in alto */
        height: auto;
        margin: auto;
        display: block;
      }
    
      .center-text {
        text-align: left; /* Allinea a sinistra il contenuto */
        margin: 200px; /* Aggiunge margine per centrare il blocco */
      }
    
      .logo-body {
        width: 200px; /* Riduci la larghezza del logo qui */
        height: auto;
        display: block;
        margin-left: 20px; /* Aumenta se necessario per spostare il logo a destra */
      }
    
      .title {
        font-size: 2em;
        margin: 0;
        display: inline-block; /* Permette al testo di stare accanto al logo */
        vertical-align: top; /* Allinea verticalmente il testo con la parte superiore del logo */
        margin-left: 20px; /* Distanza tra il logo e il testo */
      }
    
      .logo-container {
        display: flex;
        align-items: center; /* Allinea verticalmente il logo e il titolo */
        justify-content: flex-start; /* Allinea orizzontalmente a sinistra */
        padding-left: 40px; /* Aumenta se necessario per spostare il logo e il titolo a destra */
      }
  </style>
</head>
<body>
  <%= image_tag 'Metaberto.png', alt: "Logo MetaBerto", class: "logo-header" %>
  <h1>MetaBerto</h1>
  <h2>ver 0.1.0</h2>
  <h3>Dove vuoi andare oggi?</h3>

  <div class="center-text">
    <%= link_to image_tag('Logo.png', alt: "Logo B&Berto", class: "logo-body"), "bberto.html" %>
    <h1 class="title">B&Berto</h1>
  </div>
</body>
</html>
